.flashcard-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Empêche le débordement */
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.flashcard {
    transition: transform 0.3s ease-in-out;
    font-size: 4rem;
    cursor: pointer;
    user-select: none;
    text-align: center;
    margin-top: 20px;
    width: 100%;
    max-width: 10em;
    height: 6em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #c8b4f0;
    border-radius: 25px;
    overflow: hidden;
    padding: 10px;
    box-sizing: border-box; /* Clé pour ne pas dépasser */
}


.flashcard h1 {
    font-size: auto;
    margin: 0;
    padding: 0;
    font-size: 0.8em; /* Taille de base */
    max-width: 90%;
    text-align: center;
    white-space: normal; /* Permet le retour à la ligne */
    overflow-wrap: break-word; /* Coupe les mots trop longs */
    word-wrap: break-word;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flashcard p {
    margin: 0;
    padding: 0;
    color: gray;
    font-size: 0.8em;
    max-width: 90%;
    text-align: center;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

/* Adaptation pour les écrans plus petits */
@media (max-width: 600px) {
    .flashcard {
        width: 8em;
        height: 5em;
    }
    .flashcard p {
        font-size: 0.6em;
    }
}


.course_title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.course_title h2 {
    text-align: center;
}

.course_title p {
    margin: 0;
    padding: 0;
    color: gray;
    text-align: center;
}

.flashcard:hover {
    background-color: #eaeaea;
}

.content_flashcourse {
    height: calc(100vh - 12em);
}