@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #f3f3f3;
}

main {
  width: 100%;
}

#root {
  width: 100%;
  min-height: 100vh; /* Pour s'assurer qu'il prend toute la hauteur de l'écran */
  margin: 0;
  padding: 0;
  display: flex; /* Utile si tu veux centrer les enfants */
  flex-direction: column; /* Pour centrer les enfants */
}


a, h1, h2, h3, h4, h5, h6, p {
  font-family: "Roboto Mono", Arial, Helvetica, sans-serif;
}
