
.title {
    font-size: 1em;
    margin: 0;
    padding: 0;
    margin-bottom: 2em;
}

.score_course {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
}

.score_course p,h1 {
    margin: 0;
    padding: 0;
}

.score_course p {
    color: gray;
}

.content {
    display: flex;
    flex-direction: column;
}

.line_course {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2em;
    width: 100%;
}

.course {
    border-radius: 25px;
    background-color: #c8b4f0;
    height: 13em;
    width: 8em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.course:hover {
    background-color: #b4a0e6;
}

.title_course h1 {
    font-size: 1em;
    margin: 0;
    padding: 0;
    /* on centre le text */
    text-align: center;
    text-decoration: none;
}

.icon_course img {
    width: 4em;
    height: 4em;
    margin-bottom: 1em;
}