.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5em;
    width: 100%;
    background-color: black;
    box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.25);
}

.left_part h1 {
    color: white;
    font-size: 2em;
    margin-left: 1em;
}

.burger_menu {
    display: none;
    font-size: 2em;
    color: white;
    cursor: pointer;
    margin-right: 1em;
}

.right_part {
    display: flex;
    align-items: center;
    margin-right: 1em;
}

.right_part a {
    text-decoration: none;
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: ease-in-out 0.2s;
    content: " ";
    position: relative;
    padding: 0.2em 0;
    margin: 0 1em;
}

/* before  */
.right_part a::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transition: all 0.2s ease-in-out 0s;
}

.right_part a:hover::before {
    width: 100%;
}

.right_part hr {
    display: none;
}



/* 🌟 Responsive - Affichage en mode mobile */
@media (max-width: 768px) {
    .burger_menu {
        display: block;
    }

    .right_part {
        position: absolute;
        top: 5em;
        background-color: black;
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    }

    .right_part.open {
        display: flex;
    }

    .right_part.open hr {
        display: flex;
        width: 30%;
        height: 1px;
        background-color: white;
    }

    .right_part a {
        padding: 1em;
    }
}
