/* 🌟 Responsive - Affichage en mode mobile */
@media (max-width: 768px) {
    .home {
        box-sizing: border-box;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 0 1em 1em 1em;
        overflow: hidden;
        /* Optionnel si des débordements se produisent */
        height: 80vh;
    }


    .title_home {
        font-size: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1em;
        padding: 1em;
    }

    .title_home h2 {
        font-size: 1.2em;
        margin: 0;
    }

    .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1em;
        border: solid 3px black;
        border-radius: 10px;
        box-shadow: 5px 5px 0px black;
    }

    .icon img {
        max-width: 100%;
        height: auto;
        /* Pour conserver le ratio */
        display: block;
        /* Évite un éventuel espace blanc sous l’image */
    }


    .score_alphabet {
        min-height: 5em;
        border-radius: 25px;
        margin-top: 3em;
        background-color: #c8b4f0;
        padding: 1em;
    }

    .title_sco {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1em;
        padding: 0 1em;
    }

    .title_sco h1 {
        font-size: 1em;
    }

    .score_bar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 1em;
        margin-bottom: 1em;
    }

    .line_course {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2em;
        width: 100%;
    }

    .course {
        border-radius: 25px;
        background-color: hsl(260, 67%, 82%);
        height: 13em;
        width: 8em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .course:hover {
        background-color: #b4a0e6;
    }

    #title_course {
        margin: 0;
        padding: 0;
        /* on centre le text */
        text-align: center;
        text-decoration: none;
        font-size: 1em;
    }

    .icon_course img {
        width: 4em;
        height: 4em;
        margin-bottom: 1em;
    }
}